<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3>Services</h3>
				<ul>
					<li><a href="/virtualization">Virutalization</a></li>
					<li><a href="/managed-services">Managed Services</a></li>
					<li><a href="/showcase">Showcase</a></li>
				</ul>
			</div>
			<!-- <div class="col-md-3">
				<h3>Products</h3>
				<ul>
					<li><a href="#">VDI-In-A-Box</a></li>
					<li><a href="#">Reseller</a></li>
				</ul>
			</div> -->
			<div class="col-md-3">
				<h3>Consulting</h3>
				<ul>
					<li><a href="/consulting">Cost Management Analysis</a></li>
					<li><a href="/consulting">Technology Feasability Analysis</a></li>
					<li><a href="/consulting">IT Staff Augmentation</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h3>Company</h3>
				<ul>
					<li><a href="/company">History &amp; culture</a></li>
					<li><a href="/company">Management Team</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="final">
		<div class="container">
			<div class="follow-us">
				<a href="#">Contact Us</a>
				<ul class="social">
					<li><a href="https://twitter.com/cornerstonets"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/company/cornerstone-technical-solutions-llc"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>

			<small><b>Cornestone Technical Solutions</b></small>
			<small>© Copyright 2015 - All Rights Reserved</small>
		</div>
	</div>
</footer>