<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{STATIC_URL}}img/cts-logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="nav-main">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Infrastructure</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'virtualization' %}">Virtualization</a></li>
                        <li><a href="{% url 'nimble' %}">Nimble Storage</a></li>
                        <li><a href="{% url 'showcase' %}">Red Hat Showcase</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Services</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'managed_services' %}">Managed Services</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'consulting' %}">Consulting</a></li>
                <li><a href="{% url 'company' %}">Company</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {# <li><a class="sign-in" href="http://mail.cornerstonets.net">Sign In</a></li> #}
            </ul>
        </div>
    </div>
</nav>
