{% extends 'base.html' %}

{% block title %}Company{% endblock %}

{% block content %} 

<section id="company">
    <div class="jumbotron">
        <div class="container">
            <h1>Real People, Real Passion</h1>
            <p>Partner with professionals that are as Passionate about your success as You</p>
        </div>
    </div>

    <div class="history">
        <div class="container">
            <p>Cornerstone Technical Solutions began back in April of 2012. Cornerstone was started as a result of seeing Companies being overcharged and under delivered IT services. Employees being under-paid, under-appreciated and not having a healthy work-life balance. While making a profit is important the company started with our Founder working consulting contracts while helping customers succeed in areas of Virtualization, Storage and Data Protection technologies. In this time, we have come across like-minded individuals willing to join the team and be successful in the industry. It takes time to build a team, and after 3 years we have the core of that team in place.</p>

            <p>At Cornerstone We do everything in our power to make sure our partners (a.k.a. customers) succeed and have a more efficient way of doing IT. </p>
        </div>
    </div>
    <div class="management-team">
        <div class="container">
            <h1>Management Team:</h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <h2>Gary L Shaffer Jr</br><small>Founder &amp; USMC Veteran</small></h2>
                        <button class="btn btn-success">View Bio <span class="caret"></span></button>
                        <div class="bio">
                            Gary is not one for titles like CEO, Owner etc. Companies are not about ownership, they are about relationships with your customers and employees.</br></br>
                            Gary has over 11 years in the IT industry and is our Sr Architect here at Cornerstone. As a Marine Corps Veteran, he got started in IT back in 2004 working for the DOD, FBI and other  Commercial roles to include Panasonic Automotive and the NCAOC.  Every environment he has worked in has comprised of one or more Disaster Recovery sites utilizing some form of  replication, virtualization and High Availability technologies in compute and storage.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <h2>Jared Patrick</br><small>Lead Developer</small></h2>
                        <button class="btn btn-success">View Bio <span class="caret"></span></button>
                        <div class="bio">
                            Jared has been operating in IT fields for almost 10 years. As IT administrator for a merchant services provider he managed every aspect of the day to day IT operations from network configuration to PBX and cloud services management. He also has experience in graphic design and web development.</br></br>After building an internal CMS solution he made the switch to professional full-stack software development.  He has made major contributions to systems that process data from pharmaceutical vendors and generate outputs for state and federal spend reporting.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <h2>Luigi Marazzi</br><small>Virtualization Consultant</small></h2>
                        <button class="btn btn-success">View Bio <span class="caret"></span></button>
                        <div class="bio">Luigi Marazzi has over 10 years working in the IT field.</br></br> He worked with Fairfax County Public Schools as a Technology Support Specialist providing IT administration and assisted in implementing their first stage of virtualized infrastructure. After leaving the public school system, he became a lead virtualization engineer architecting Citrix environments for government and commercial organizations. He also specializes in migrating virtualized infrastructures into different cloud platforms such as Amazon Web Services and Microsoft Azure.</div> 
                    </div>
                </div>
	    </div>
            <div class="row">
                <!-- <div class="col-md-4">
                    <div class="team-member">
                        <h2>Robby Braumuller</br><small>Technical Business Consultant</small></h2>
                        <button class="btn btn-success">View Bio <span class="caret"></span></button>
                        <div class="bio">
                            Robby Braumuller is a Technology Consultant with more than 20 years of experience in building and leading technical teams with a focus on analysis, design and implementation of hardware and software. <br/><br/>Robby's prior experiences included Panasonic Automotive (PASA), where he was the Sr. Manager of   Infrastructure. In addition, Robby held positions at Clayton County Public Schools as the Technical Operations Manager and at Thomson Financial as Application Deployment Manger, VP. Robby has a Bachelor of Business Administration from Baruch College, City University of New York.
                        </div>i
                    </div>
                </div> -->
                <div class="col-md-4">
                    <div class="team-member">
                        <h2>Nathaniel N Kennedy</br><small>Infrastructure Architect</small></h2>
                        <!-- <button class="btn btn-success">View Bio <span class="caret"></span></button>
                        <div class="bio"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
