{% extends 'base.html' %}

{% block content %}

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feature">
                    <h1>Rethink Virtual Computing</h1>
                    <p>Open source virtualization backed by the security and stability of Red Hat.</p>
                    <button class="call-to-action">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}