@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,600,700,900);

$colors: (
	death: #4B505E,
	grub: #AFB3A1,
	incomplete: #BAC295,
	frutstrated_green_app: #CAE65C,
	event_horizon: #CEFA20,
	watermelon: #fd676a
);

$header-buffer: 90px;
$header-pad: 10px;